@model IEnumerable<BookHub.Models.BookDetail>

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    //Layout = null;
}

@*<h2>Book</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>*@

<div class="container mt-5 mb-5">
    <div class="row g-2">
        <h1 class="section-heading">All Category</h1>
        @foreach (var item in Model)
        {
            <div class="col-md-4 d-flex justify-content-center" style="padding:0.5rem">
                <div class="card p-2" style="background-color:#f0f0f0">
                    <div class="text-center">
                        @*<img src="https://i.imgur.com/Sp5bXsO.png" class="img-fluid" width="200" />*@
                        <img src="@Url.Content(item.BookImage)" alt="" class="img-fluid" width="200" />
                    </div>
                    <div class="content">
                        <div class="d-flex justify-content-between align-items-center"> <span class="category">@Html.DisplayFor(modelItem => item.BookCategory)</span> <span class="price">৳@Html.DisplayFor(modelItem => item.BookPrice)</span> </div>
                        <p>@Html.DisplayFor(modelItem => item.BookName)</p>
                        <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-primary mr-1">Buy Now</button> <button class="btn btn-primary">Add to cart</button> </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
